<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xinhang.org.mapper.ShopMapper">

    <!--void save(Shop shop);-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_shop (name, tel, registerTime, address, state, logo, admin_id)
        values (#{name}, #{tel},#{registerTime}, #{address}, #{state}, #{logo}, #{admin.id});
    </insert>

    <!--void update(Shop shop);-->
    <update id="update">
        update t_shop set
          name=#{name},
          tel=#{tel},
          state=#{state},
          address=#{address},
          logo=#{logo}
        where id = #{id};
    </update>

    <!--void remove(Long id);-->
    <delete id="remove" parameterType="long">
        DELETE FROM t_shop WHERE id = #{id}
    </delete>

    <!--Shop loadById(Long id);-->
    <select id="loadById" parameterType="long" resultMap="ShopMap">
        SELECT
          s.*,
          e.username,
          e.password,
          e.email,
          e.phone,
          e.age,
          e.salt,
          e.department_id,
          e.logininfo_id,
          e.state empState
        FROM t_shop s
        LEFT JOIN t_employee e ON s.admin_id=e.id
        WHERE s.id=#{id}
    </select>

    <resultMap id="ShopMap" type="cn.xinhang.org.domain.Shop">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="tel" column="tel"></result>
        <result property="registerTime" column="registerTime"></result>
        <result property="address" column="address"></result>
        <result property="state" column="state"></result>
        <result property="logo" column="logo"></result>
        <association property="admin" javaType="cn.xinhang.org.domain.Employee">
            <id property="id" column="admin_id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="email" column="email"/>
            <result property="phone" column="phone"/>
            <result property="age" column="age"/>
            <result property="salt" column="salt"/>
            <result property="department_id" column="department_id"/>
            <result property="logininfo_id" column="logininfo_id"/>
            <result property="shop_id" column="id"/>
            <result property="state" column="empState"/>
        </association>
    </resultMap>
    <!--List<Shop> loadAll();-->
    <select id="loadAll" resultType="cn.xinhang.org.domain.Shop">
        select * from t_shop;
    </select>

    <!--Integer queryCount(ShopQuery query);-->
    <select id="queryCount" resultType="integer" parameterType="cn.xinhang.org.domain.Shop">
        select COUNT(*) from t_shop s
        <include refid="keyword"/>
    </select>


    <!--List<Shop> queryDate(ShopQuery query);-->
    <select id="queryDate" parameterType="cn.xinhang.org.query.ShopQuery" resultType="cn.xinhang.org.domain.Shop">
        select * from t_shop s
        <include refid="keyword"/>
        limit #{start},#{pageSize}
    </select>
    <sql id="keyword">
        <where>
            <if test="keyword != null and keyword != ''">
                AND (s.name LIKE concat("%",#{keyword},"%") or s.address LIKE concat("%",#{keyword},"%"))
            </if>
        </where>
    </sql>
    <!--void patchDel(List<Long> ids);-->
    <delete id="patchDel" parameterType="long">
        DELETE FROM t_shop WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>